
<div class="main">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/tecnologias.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">FrameWorks</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/angular.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">ANGULAR</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/net.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">.NET</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/mvc.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">ASP.NET</h4>
                        </div>
                    </div>
                </div>
              
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/js.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">JAVASCRIPT</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/ts.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">TYPESCRIPT</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/jquery.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">JQUERY</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <h2 class="title">Data Base</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/sql.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">SQL SERVER</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/mysql.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">MY SQL</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Styles</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/bootstrap.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">BOOTSTRAP</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/tailwind.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">TAILWIND</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/css.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">CSS</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/css.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">CSS2</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

</div>

