
<div class="main">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/contact.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="labelGeneral">Nombres</label>
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i 
                                            class="nc-icon nc-single-02" 
                                            [ngClass]="{'input-group-focus':focus===true}">
                                        </i>
                                        </span>
                                    </div>
                                    <!--  -->
                                    <input type="text" class="form-control" placeholder="Nombres" (focus)="focus=true" (blur)="focus=false"  >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="labelGeneral">Correo</label>
                                <!-- [ngClass]="{'input-group-focus':focus1===true}" -->
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <!-- (focus)="focus1=true" (blur)="focus1=false"  -->
                                    <input type="text" class="form-control" placeholder="Correo" >
                                </div>
                            </div>
                        </div>
                        <label class="labelGeneral">Mensaje</label>
                        <textarea class="form-control" rows="5" placeholder="Déjanos un comentario o consulta....."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-info btn-lg btn-fill">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
